@tailwind base;
@tailwind components;
@tailwind utilities;

.app-loader {
  width: 48px;
  height: 48px;
  border: 2px solid #000000;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;

  &::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 0;
    background: #FF3D00;
    width: 3px;
    height: 24px;
    transform: translateX(-50%);
  }

  &.small {
    width: 25px;
    height: 25px;

    &::after {
      width: 2px;
      height: 15px;
    }
  }
}


@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}